numpy
pandas
scikit-learn
matplotlib
seaborn
jupyter
notebook
jupyterlab
tqdm
opencv-python
Pillow
plotly
requests
xgboost
lightgbm
tensorflow
tensorflow-rocm
tensorflow-cpu
tensorflow-datasets
tensorflow-probability
keras
keras-tuner
autokeras
keras-nlp
keras-cv
torch
torchvision
torchaudio
torchtext
torch-geometric
torchmetrics
ignite
pytorch-lightning
pytorchcv
speechbrain
asteroid
espnet
pretrainedmodels
torchsummary
torchinfo
ultralytics
transformers
spacy
nltk
optuna
ray
gym
mlflow
dvc
yellowbrick
onnx
onnxruntime
ts
tiktoken
huggingface_hub[hf_xet]
tensorflow_hub
joblib
fastai
sweetviz
pandas-profiling
catboost
openvino-dev
statsmodels
scipy
pingouin
prophet
pmdarima
tsfresh
sktime
arrow
pendulum
dateparser
pystan
ipywidgets
widgetsnbextension
jupyter_contrib_nbextensions
netCDF4
xarray
openpyxl
xlrd
datasets
kaggle
opendatasets
wandb
psycopg2-binary
asyncpg
mysql-connector-python
PyMySQL
pyodbc
cx_Oracle
pymongo
redis
cassandra-driver
elasticsearch
couchdb
tinydb
google-cloud-firestore
google-cloud-bigquery
boto3
azure-cosmos
pyarrow
hdfs
pyspark
datatable
blosc
zstandard
feather-format
clickhouse-connect
timm
h5py
vaex
tables
sentence-transformers
llama-index
langchain
openai
flaml
pickle5
cloudpickle
bokeh
altair
holoviews
dash
streamlit
whisper
diffusers
albumentations
imgaug
textattack
shap
lime
captum
fastapi
gradio
bentoml
neuralprophet
darts
open3d
vedo
trimesh
